/*                    #1e2f97                   */
/*                    #1aa7ec                   */
/*                    #4adede                   */
/*                    #0c0032                   */
/*                    #A1A1A1                   */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.vertical-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 28px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  transition-duration: 0.5s;
}

.button-primary {
  background-color: #1aa7ec;
}

.login-button{
  color: rgb(0, 0, 0, .55);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 50px;
}

.login-button:hover{
  color: rgb(0, 0, 0, .65);
}

.button-default {
  background-color: rgb(189, 189, 189);
}

.button-border {
  background-color: white;
  color: #1aa7ec;
  border: 2px solid #1aa7ec;
}

.button-primary:hover {
  background-color: #2dabeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-default:hover {
  background-color: #1aa7ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-border:hover {
  background-color: #1aa7ec;
  color: white;
  border: 2px solid #1aa7ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section */

#qoute-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#quote-test {
  font-size: 50px;
  color: #0c0032;
}

#quote-owner-name {
  color: #1aa7ec;
  font-weight: 600;
}

/* qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section   qoute-section */

/* progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section */

.progress-box {
  background-color: rgba(204, 204, 204, 0.459);
  text-align: center;
  border-radius: 10px;
  color: rgb(88, 88, 88);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 15px;

  transition-duration: 0.5s;
  /* transition-delay: 2s; */
}

.progress-box-active {
  background-color: #1aa7ec;
  text-align: center;
  border-radius: 10px;
  background-color: #1aa7ec;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
  padding: 30px;

  margin-bottom: 15px;
}

.progress-icon-area {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}
.progress-head-text {
  font-size: 20px;
  font-weight: 600;
}
.progress-des-text {
  font-size: 14px;
}

.progress-box:hover {
  background-color: #1aa7ec;
  color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.37);
}

/* progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section   progress-section */

/* story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section */

#story1-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.story1-head {
  font-size: 42px;
  font-weight: 600;
  color: #0c0032;
}

.story1-sub {
  color: #0c0032;
}

/* story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section   story1-section */

/* story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section */

#story2-section {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}

#story2-section-mobile{
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
}



/* story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section */

/* testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section */

#testimonial-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial-user-box {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.testimonial-user-hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.178);
}

.testimonial-user-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.178);
}

.testimonial-user-image {
  margin-top: 4px;
  margin-left: 7px;
}

.testimonial-user-name {
  color: #0c0032;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 0px;
}

.testimonial-user-position {
  color: #a1a1a1;
  font-size: 13px;
}

#testimonial-feedback-box {
  margin-top: 15px;
}

.testimonial-feedback-starts {
  color: #ecbf6a;
  margin-right: 5px;
  font-size: 14px;
}

.testimonial-feedback-message {
  margin-top: 30px;
  font-size: 15px;
  color: #0c0032;
}

/* testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section   testimonial-section */

/* packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section */

#packages-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.package-head {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #0c0032;
  text-align: center;
}

.package-box {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.178);
  padding: 5px;
  margin-bottom: 10px;
}

.package-box:hover {
  /* border: solid 5px #4adede; */
}

.strip {
  height: 8px;
  border-radius: 10px;
  background-color: #4adede;
}

.package-name {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #4adede;
  text-align: center;
}

.package-price {
  text-align: center;
  font-weight: 200;
  font-size: 65px;
  color: #a1a1a1;
}

.package-price-dollar {
  font-size: 40px;
  font-weight: 600;
  color: #4adede;
}

.package-month {
  font-size: 30px;
}

.package-features {
  margin-left: 40px;
  color: #a1a1a1;
  margin-bottom: 15px;
  font-size: 14px;
}

.package-icon {
  font-size: 14px;
  color: #4adede;
  margin-right: 10px;
}

/* packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section   packages-section */

/* wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section */

#wave-section {
  margin-top: -200px;
  opacity: 0.1;
}

/* wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section   wave-section */


@media (max-width: 767px) {
  .vertical-center {
    margin-top: 50px;
  }
  /* story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section */

  #story1-section{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #story2-section {
    display: none;
  }
  
  #story2-section-mobile{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section   story2-section */

  .testimonial-user-box {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  #wave-section{
    height: 200px;
  }
  #wave-section > img{
    display: none;
  }


}